main{
    height: 684px;
    background-image: url("img/image_registration.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: 0;
    background-position-y: -69px;
    
    box-sizing: border-box;
    
}



.registration{
    position: relative;
    display: block;
    top: 0;
    width: 380px;
    height: 646px;
    background-color: #fff;
    
    border: 1px solid rgba(0, 0, 0, .12);
    margin-left: auto;
    margin-right: auto;
    margin: 19px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__form{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
   
}

.registration h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-transform: none;
}