
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   
}

body{
    font-size: 12px;
    background-color: #fff;
    max-width: 1920px;
    box-sizing: border-box;
    color: #1F204180;
    font-family: Montserrat;
    height: auto
    
}

.header{
    height: 70px;
    width: 100%;
   
}
.container{
  padding-left: 140px;
  padding-right: 140px;
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  float: left;
}

.header__section{
 position: relative;
  display: flex;
  align-items: center;
  
}

.header__menu{
  position: relative;
  display: flex;
  width: 80%;
  height: auto;
  line-height: 40px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
}
  

.header__menu_content{
  position: relative;
  display: inline;
  justify-items: flex-end;
  
  width: 800px;
  float: right;
}


.header__logo{
  width: 20%;
}

.header__logo, .footer__logo{
    height: 100%;  
   }

   .header__logo-icon{
    margin-top: 15px;
    margin-right: 15px;
    float: left;
   }
   

.header__logo-text{
    position: relative;
    margin-top: 28px;
    float: left;
  }



   

   .header__section{
     height: 70px;
   }

   .header__link{
     float: left;
       color:#1F204180;
       margin-right: 20px;
       
       font-size: 14px;
       text-decoration: none;
   }

   

   button, #submit_button{
       font-size: 12px;
       height: 34px;
       text-transform: uppercase;
       border: solid 2px #BC9CFF;
       border-radius: 17px;
      
       font-weight: bold;
       color: #fff;
       background-color: #BC9CFF;
       margin-left: 20px;
       display: inline-block;
       cursor: pointer;
   }

   .header__login{
     
       width: 87px;
       background-color: #fff;
       background-image:linear-gradient(180deg, #BC9CFF 100% #8BA4F9 100%) border-box;
       color: #BC9CFF;
       background-origin: border-box;
    background-clip: content-box, border-box;
       
       
       
   }

   .header__gradient_button{
       width: 196px;
   }

   

 /* ---------- FOOTER ----------  */
  
  .footer{
    height: 442px;
    text-align: left;
    width: 100%;
    
  }

  .footer__section1{
      float: left;
      width: 22%;
      height: auto;
      line-height: 200%;
  }

  .footer__section2{
      float: left;
      width: 18%;
      height: auto;
      padding-left: 40px;
      line-height: 200%;
  }

  .footer__upper{
    padding-top: 104px;
    height: 372px;
    
  }

  .footerDown{
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  
  }
  .footerDown__section1{
    width: 80%;
  }

  .footerDown__section2{
    position: relative;
    display: flex;
    width: 20%;
    flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  }

  .footerDown__social_icons{
    height: 24px;
    margin-left: 20px;
  }

  .footer__logo-icon{
    margin-right: 15px;
    float: left;
    }
  
  .footer__logo-text{
      position: relative;
      margin-top: 13px;
      float: left;
  }

  .content{
      float: left;
      margin-top: 20px;    
  }

  h3{
    color: #1F2041;
    text-transform: uppercase;
  }

  ul{
      list-style-type: none;
  }
  .send-message{
      background-color: #fff;
      color: #1F204180;
      text-transform: none;
      width: 100%;
      border-radius: 4px;
      border-color: #1F204180;
      border-width: 1px;
      font-weight: normal;
      margin: 0;
      
  }
  

  span{
    opacity: 0.75;
    float: left;
    margin-left: 15px;
  }
  
  .transparent{
      opacity: 0.5;
  }

  .right{
      float: right;
  }

  /* ---------- MAIN ---------- */

  main{
    height: 900px;
    background-image: url("img/image_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

  .search__row{
    position: relative;
    height: auto;
  }

  #guests>option{
    font-size: 14px;
    line-height: 18px;
    font-family: inherit;
  }


  .search{
    width: 380px;
    height: 374px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    margin-top: 70px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .search>h3{
      font-size: 24px;
      font-weight: bolder;
      padding-bottom: 20px;
      text-transform: none;
  }
 
  .search__arrival, .search__departure{
    position: relative;
    height: auto;
    display: inline;
    float: left;
    margin-bottom: 20px;
    
  }

  .search__departure{
    float: right;
  }

  .search__3row{
    position: absolute;
    width: 320px;
    padding-bottom: 30px;
    bottom: 0;
   
  }

  label{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input[type = "text"], select{
    height: 44px;
    width: 150px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
    margin-top: 5px;
  }

  #submit_button, #guests{
      width: 100%;
      position: relative;
      
  }
  #submit_button{
    position: relative;
    margin: 0;
    bottom: 0px;
    background-image: url("img/arrow_forward.svg");
    background-repeat: no-repeat;
    background-position: 98%;
}

.header__gradient_button, .search__gradient_button{
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
 }

.down{
  position: relative;
  display: flex;
  margin-top: auto;
  height: 456px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.text_anotation{
 position: inherit;
  display: block;
  font-size: 14px;
  text-align: right;
  width: 297px;
  height: auto;
  line-height: 171%;
  float: right;
  padding-top: auto;
  padding-bottom: 18px;
  color: rgba(31, 32, 65, 0.75);
 }

