
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype') ;
    font-weight: bold;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-size: 12px;
    background-color: #fff;
    max-width: 1920px;
    box-sizing: border-box;
    color: #1F204180;
    font-family: Montserrat;
    height: auto
    
}

.header{
    height: 70px;
    width: 100%;
   
}

.container{
  padding-left: 140px;
  padding-right: 140px;
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  float: left;
}

.header__section{
 position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu{
  position: relative;
  display: flex;
  width: 80%;
  max-width: 800px;
  height: auto;
  line-height: 40px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
  




.header__logo{
  width: 20%;
}

.header__logo, .footer__logo{
    height: 100%;  
   }

   .header__logo-icon{
    margin-top: 15px;
    margin-right: 15px;
    float: left;
   }
   

  .header__logo-text{
    position: relative;
    margin-top: 28px;
    float: left;
  }

  .header__section{
     height: 70px;
   }

   .header__link{
      float: left;
      color:#1F204180;
      margin-right: 20px;
      font-size: 14px;
      text-decoration: none;
   }

   .header__login{
    width: 87px;
  }

  #register_button{
    padding: auto;
    min-width: 196px;
    
  }

  /* --------------- MAIN OF LENDING PAGE  ---------------  */ 

   .main__lending{
    height: 900px;
    background-image: url("img/image_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
     #register_button{
    width: 196px;
  }

      /* ---   CALENDAR --- */
    .calendar{
      position: absolute;
      float: left;
      top: 75px;
      width: 320px;
      height: 369px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
      background-color: #fff;
      z-index: 3;  
      display: none;
      padding: 20px;
      font-size: 12px;
      line-height: 15px;
      color: #BC9CFF; 
    }

    .calendar__header, .calendar__footer{  
      height: 24px;
      width: 100%;
      font-size: 19px;
      line-height: 23px;
       
    }
    .calendar__header>nav{
      justify-content: space-between;
    }

    .calendar__header{
      margin-bottom: 30px;  
    }

    .calendar__footer{
      padding-top: 20px;
      color: #BC9CFF;
    }

    .calendar__footer>button{
      color: inherit;
      background-color: transparent;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      line-height: inherit;
      border: none;
    }

    #calendar_reset{
      position: absolute;
      left: 0;
    }

    #calendar_submit{
      position: absolute;
      right: 0;
    }

    .calendar__date_group{
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: #1F2041;
    }

    .to_line{
      position: relative;
      display: inline-block;
      width: 100%;
      justify-content: center;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    }

    .to_line div{
      display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    }

    nav{
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
    }

    .calendar__arrow{
      font-size: 24px;
    }

    .arrow_back{
      transform: rotate(180deg);
    }
    
    
    
    .calendar__day_week, .calendar__day{
      width: 39.87px;
      height: 40px;
      text-align: center;
    }

   

    #box_17{
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 22px;
      font-weight: bold;
      color: #fff;
    }

    #box_22{
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
      font-weight: bold;
      color: #fff;
    }

    .calendar__month, .calendar__year{   /*  sets space between month and year  */
      margin: 2px;
    }

    .calendar__day_week{
      font-weight: bold;
      
    }

  .calendar__day{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
  }

    

h4{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  left: 0;
}

 

  #guests>option{
    font-size: 14px;
    line-height: 18px;
    font-family: inherit;
  }


  .search{
    width: 380px;
    height: 374px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    margin-top: 70px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    justify-items: center;
  }

  .search__row{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
  }

  .search>h3{
    font-size: 24px;
    line-height: 29px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-transform: none;
  }
 
  .search__arrival, .search__departure{
    position: relative;
    display: inherit;
    height: auto;
    width: 150px;
    float: left;
    margin-bottom: 20px;
    
  }

  .search__departure{
    position: absolute;
    right: 0;
  }
 
  .search__3row{
    position: absolute;
    display: block;
    width: 320px;
    padding-bottom: 30px;
    bottom: 0;
    left: auto;
    z-index: 1;
  }
  
  #arrival_date, #last_date, #guests, select{
    height: 44px;
    width: 150px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
    margin-top: 5px;
    background-color: #fff;
    margin-left: 0;
  }

  #arrival_date, #last_date{
    float: left;
    margin-left: 0;
    text-align: left;
    background-image: url(img/expand_more.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
    cursor: pointer;
  }

  .search__choose_guests{
    position: relative;
    width: 320px;
    height: 159px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    text-align: left;
    background-color: #fff;
    z-index: 2;
    padding-left: 13px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 13p;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: bold;
    color: #1F2041;
    text-transform: uppercase;
    display: none;
  }

  .visitors{
    position: relative;
    height: 30px;
    justify-items: center;
    align-items: center;
    align-items: center;
    margin-bottom: 7px;
  }

  .visitors>h4{
    display: flex;
    width: 40%;
    height: 100%;
    float: left;
    margin: auto;
    align-items: center;
    opacity: 100%;
  }

  .calc{
    position: relative;
    display: flex;
    height: auto;
    width: 90px;
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #1F2041;
    
  }

  

  .math{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 22px;
    color: rgba(31, 32, 65, 0.5);
    margin: 0;
    float: left;
  }

  .number{
    display: flex;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  

  #submit_button, #guests{
      width: 100%;
            
  }

  #guests{
    position: relative;
    background-image: url(img/expand_more.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
    text-align: left;
    cursor: pointer;
  }
  
 #submit_button{
  height: 44px;
  position: relative;
  margin: 0;
  bottom: 0px;
  display: inline;
  float: none;
  padding-right: 10px;
  }

  #submit_button>img{
    position: absolute;
    right: 3%;
  }

.down{
  position: relative;
  display: flex;
  margin-top: auto;
  height: 456px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.text_anotation{
 position: inherit;
  display: block;
  font-size: 14px;
  text-align: right;
  width: 297px;
  height: auto;
  line-height: 171%;
  float: right;
  padding-top: auto;
  padding-bottom: 18px;
  color: rgba(31, 32, 65, 0.75);
 }


/* -------------------- MAIN OF REGISTRATION PAGE  --------------------  */  

    .main__registration{
      height: 684px;
      background-image: url("img/image_registration.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      background-position-x: 0;
      background-position-y: -69px;
      box-sizing: border-box;
  }

  .registration{
    position: relative;
    display: block;
    top: 0;
    width: 380px;
    height: 646px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    margin-left: auto;
    margin-right: auto;
    margin: 19px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__form{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
   
}

.registration h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-transform: none;
}

   /* --------------- BUTTONS STYLE  ---------------  */

   button{
    justify-content: center;
    cursor: pointer;
  }

 

  .submit_button{
    font-size: 12px;
    height: 34px;
    text-transform: uppercase;
    border: solid 2px #BC9CFF;
    border-radius: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #BC9CFF;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
       
   }

   .gradient_button{
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   }

  

 .white_cover_button{
   position:relative;
   display: flex;
   width: 100%;
   height: 100%;
   border-radius: 18px;
  background-color: #fff;
  color: #BC9CFF;
  align-items: center;
  align-content: center;
  justify-content: center;
 }

 
   

 /* ---------- FOOTER ----------  */
  
  .footer{
    height: 442px;
    text-align: left;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    
  }

  .footer__section1{
      float: left;
      width: 22%;
      height: auto;
      line-height: 200%;
  }

  .footer__section2{
      float: left;
      width: 18%;
      height: auto;
      padding-left: 40px;
      line-height: 200%;
  }

  .footer__upper{
    padding-top: 104px;
    height: 372px;
    
  }

  .footerDown{
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  
  }
  .footerDown__section1{
    width: 80%;
  }

  .footerDown__section2{
    position: relative;
    display: flex;
    width: 20%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
  }

  .footerDown__social_icons{
    height: 24px;
    margin-left: 20px;
  }

  .footer__logo-icon{
    margin-right: 15px;
    float: left;
    }
  
  .footer__logo-text{
      position: relative;
      margin-top: 13px;
      float: left;
  }

  .content{
      float: left;
      margin-top: 20px;    
  }

  h3{
    color: #1F2041;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  ul{
      list-style-type: none;
      
  }

  .footer__menu{
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    line-height: 17px;
  }
  .send-message{
      background-color: #fff;
      color: rgba(31, 32, 65, 0.25);
      text-transform: none;
      width: 100%;
      height: 44px;
      border-radius: 4px;
      border-color: #1F204180;
      border-width: 1px;
      font-weight: normal;
      margin: 0;
      
  }

  .footer__list h3{
    padding-bottom: 21px;
  }
  
 

  .send-message>img{
    float: right;
    padding-right: 13px;
  }
  
  .transparent{
      opacity: 0.5;
  }

  .right{
      float: right;
  }

  .left{
    float: left;
  }

 input[type=email]{
   padding-left: 15px;
   background-image: url(img/arrow_forward_colored.svg);
   background-repeat: no-repeat;
   background-position-y: center;
   background-position-x: 95%;
   border: 1px solid rgba(31, 32, 65, 0.25);
   border-radius: 4px;
   color: rgba(31, 32, 65, 0.25);
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
 }
