/* ---------- MAIN OF LENDING ----------*/

main{
    height: 900px;
    background-image: url("img/image_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

button{
  justify-items: center;
}

h4{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  left: 0;
}

  .search__row{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
  }

  #guests>option{
    font-size: 14px;
    line-height: 18px;
    font-family: inherit;
  }


  .search{
    width: 380px;
    height: 374px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    margin-top: 70px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    justify-items: center;
  }

  .search>h3{
    font-size: 24px;
    line-height: 29px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-transform: none;
  }
 
  .search__arrival, .search__departure{
    position: relative;
    display: inherit;
    height: auto;
    width: 150px;
   float: left;
    
    
    margin-bottom: 20px;
    
  }

  .search__departure{
    position: absolute;
    right: 0;
  }
 

  .search__3row{
    position: absolute;
    width: 320px;
    padding-bottom: 30px;
    bottom: 0;
    left: auto;
    z-index: -1;
  }

  

  #arrival_date, #last_date, #guests, select{
    height: 44px;
    width: 150px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
    margin-top: 5px;
    background-color: #fff;
    margin-left: 0;
  }

  #arrival_date, #last_date{
    float: left;
    margin-left: 0;
  }

  #calendar{
    position: absolute;
    float: left;
    top: 75px;
    width: 320px;
    height: 369px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    background-color: #fff;
    z-index: 2;
    display: none;
  }

   .search__choose_guests{
    width: 320px;
    height: 159px;
    border: 1px solid rgba(31, 32, 65, 0.5);
   
    background-color: #fff;
    z-index: 3;
   padding-left: 13px;
   padding-top: 7px;
   padding-right: 7px;
   padding-bottom: 13px;
   font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: bold;
  color: #1F2041;
  text-transform: uppercase;
  }

  .visitors{
    position: relative;
    height: 30px;
    justify-items: center;
    align-items: center;
    align-items: center;
    margin-bottom: 7px;
  }

  .visitors>h4{
    display: flex;
    width: 40%;
    height: 100%;
    float: left;
    margin: auto;
    align-items: center;
    opacity: 100%;
  }

  .calc{
    position: relative;
    display: flex;
    height: auto;
    width: 90px;
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  line-height: 22px;
  color: #1F2041;
  }

  

  .math{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.5);
    margin: 0;
    float: left;
  }
  .number{
    display: flex;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  

  #submit_button, #guests{
      width: 100%;
      position: relative;
      
  }
 

.header__gradient_button, .search__gradient_button{
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
 }
 
 #submit_button{
  position: relative;
  margin: 0;
  bottom: 0px;
  }

  button img{
    position: relative;
    float: right;
    right: 0;
    margin-right: 10px;
    
  }
  #submit_button{
float: none;
  }

.down{
  position: relative;
  display: flex;
  margin-top: auto;
  height: 456px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.text_anotation{
 position: inherit;
  display: block;
  font-size: 14px;
  text-align: right;
  width: 297px;
  height: auto;
  line-height: 171%;
  float: right;
  padding-top: auto;
  padding-bottom: 18px;
  color: rgba(31, 32, 65, 0.75);
 }